* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  color: black;
  font-family: "Fira Sans", sans-serif;
} 

/* .navbar1{
  background-color: blue;
  color: #fff !important;
  height: 80px;

  li a{
    color: #fff !important;
    font-size: 1.2rem;
    font-weight: 600;
  }
} */

/* .btn {
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
} */
.separation{
  padding-top: 20px;
}

p{
  font-size: 1.3rem;
  font-weight: 500;
}
 h1 {
  border: 5px;
  border-color: black;
  /* padding-top: 20px; */
  text-align: center;
  color: darkblue;
}
.first{
  padding-top: 20px;
  color: rgb(7, 68, 121);
} h2{
  color: darkblue;
}
p{
  color: rgb(7, 68, 121);
}

.imagesection{
  padding-bottom: 80px;
  margin-top: 100px;
}

.card{
  border: none !important;
  margin-bottom: 15px;
}
 img{
  width:20rem;
  border-radius: 5px;
  height: 227px;
}

img:hover{
  transform: scale(2,2);
  transition: .5s transform;
}
h3{
  /* padding-top: 10px; */
  font-weight: 549;
  color: darkblue;
}
span{
  font-weight: 1;
  font-size: 15px;
  color: rgb(7, 68, 121);
} 
.paragrapgh{
  padding-top: 20px;
 display: flex;
 object-position: right;
justify-content: space-between;

}
 span h2{
  text-align: center;
  background-color: darkblue;
  color: white;
}

/* footer styling */

.footer{
  background-color: #000b58;
  padding-bottom: 20px;

  h3{
    color:#ff8000;
  }

  .topbox{
      flex: 1;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 30px;

      a{
          text-decoration: none;
          color: #fff;
          margin-left: 6px;
          font-size: 1.1rem;

          i{
              font-size: 1.5rem;
              color: skyblue;
              padding-left: 16px;
          }
          i:hover{
              color: #fff;
          }
      }
  }

  .complain{
      font-size: 1.3rem;
  }
  .complain:hover{
      background-color: skyblue;
      color:rgb(5, 5, 174)
  }
}


